{% extends '_base/base.jinja2' %}

{% block content %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">
                    Dashboard
                </h1>
            </div>
            <div class="row row-cards">
                <div class="col-sm-6 col-lg-3">
                    <div class="card p-3">
                        <div class="d-flex align-items-center">
                            <span class="stamp stamp-md bg-green mr-3">
                                <i class="fe fe-dollar-sign"></i>
                            </span>
                            <div>
                                <h4 class="m-0">
                                    <a href="javascript:void(0)">R$ 132,37
                                        <small>Caixa</small>
                                    </a>
                                </h4>
                                <small class="text-muted">Saldo atual</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card p-3">
                        <div class="d-flex align-items-center">
                            <span class="stamp stamp-md bg-red mr-3">
                                <i class="fe fe-dollar-sign"></i>
                            </span>
                            <div>
                                <h4 class="m-0">
                                    <a href="javascript:void(0)">5
                                        <small>Devedores</small>
                                    </a>
                                </h4>
                                <small class="text-muted">inquilinos devedores</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card p-3">
                        <div class="d-flex align-items-center">
                            <span class="stamp stamp-md bg-blue mr-3">
                                <i class="fe fe-users"></i>
                            </span>
                            <div>
                                <h4 class="m-0">
                                    <a href="javascript:void(0)">25
                                        <small>Usuários</small>
                                    </a>
                                </h4>
                                <small class="text-muted">inquilinos registrados</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card p-3">
                        <div class="d-flex align-items-center">
                            <span class="stamp stamp-md bg-yellow mr-3">
                                <i class="fa fa-road"></i>
                            </span>
                            <div>
                                <h4 class="m-0">
                                    <a href="javascript:void(0)">2
                                        <small>Solicitações</small>
                                    </a>
                                </h4>
                                <small class="text-muted">solicitações em andamento</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cards row-deck">
                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                                <thead>
                                    <tr>
                                        <th class="text-center w-1">
                                            <i class="icon-people"></i>
                                        </th>
                                        <th>Inquilino</th>
                                        <th>Uso</th>
                                        <th class="text-center">Pagamento</th>
                                        <th>Atividade</th>
                                        <th class="text-center">Satisfação</th>
                                        <th class="text-center">
                                            <i class="icon-settings"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <div class="avatar d-block" 
                                                 style="background-image: url({{url_for('static', filename='demo/faces/female/26.jpg')}})">
                                                <span class="avatar-status bg-green"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>Elizabeth Martin</div>
                                            <div class="small text-muted">
                                                Retristrado(a): 19 Mar, 2018
                                            </div>
                                        </td>
                                        <td>
                                            <div class="clearfix">
                                                <div class="float-left">
                                                    <strong>42%</strong>
                                                </div>
                                                <div class="float-right">
                                                    <small class="text-muted">11 Jun, 2018 - 10 Jul, 2018</small>
                                                </div>
                                            </div>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-yellow" role="progressbar" style="width: 42%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <i class="payment payment-visa"></i>
                                        </td>
                                        <td>
                                            <div class="small text-muted">Última visíta</div>
                                            <div>1 semana atrás</div>
                                        </td>
                                        <td class="text-center">
                                            <div class="mx-auto chart-circle chart-circle-xs" data-value="0.42" data-thickness="3" data-color="blue">
                                                <div class="chart-circle-value">42%</div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="item-action dropdown">
                                                <a href="javascript:void(0)" data-toggle="dropdown" class="icon">
                                                    <i class="fe fe-more-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-tag"></i> Elogiar </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-edit-2"></i> Ocultar </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="avatar d-block"
                                                 style="background-image: url({{url_for('static', filename='demo/faces/female/15.jpg')}})">
                                                <span class="avatar-status bg-green"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>Michelle Schultz</div>
                                            <div class="small text-muted">
                                                Retristrado(a): 19 Mar, 2018
                                            </div>
                                        </td>
                                        <td>
                                            <div class="clearfix">
                                                <div class="float-left">
                                                    <strong>0%</strong>
                                                </div>
                                                <div class="float-right">
                                                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                                </div>
                                            </div>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-red" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <i class="payment payment-googlewallet"></i>
                                        </td>
                                        <td>
                                            <div class="small text-muted">Última visíta</div>
                                            <div>5 minutos atrás</div>
                                        </td>
                                        <td class="text-center">
                                            <div class="mx-auto chart-circle chart-circle-xs" data-value="0.0" data-thickness="3" data-color="blue">
                                                <div class="chart-circle-value">0%</div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="item-action dropdown">
                                                <a href="javascript:void(0)" data-toggle="dropdown" class="icon">
                                                    <i class="fe fe-more-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-tag"></i> Elogiar </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-edit-2"></i> Ocultar </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="avatar d-block"
                                                 style="background-image: url({{url_for('static', filename='demo/faces/male/17.jpg')}})">
                                                <span class="avatar-status bg-green"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>Crystal Austin</div>
                                            <div class="small text-muted">
                                                Retristrado(a): Apr 7, 2018
                                            </div>
                                        </td>
                                        <td>
                                            <div class="clearfix">
                                                <div class="float-left">
                                                    <strong>96%</strong>
                                                </div>
                                                <div class="float-right">
                                                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                                </div>
                                            </div>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-green" role="progressbar" style="width: 96%" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <i class="payment payment-mastercard"></i>
                                        </td>
                                        <td>
                                            <div class="small text-muted">Última visíta</div>
                                            <div>a minute ago</div>
                                        </td>
                                        <td class="text-center">
                                            <div class="mx-auto chart-circle chart-circle-xs" data-value="0.96" data-thickness="3" data-color="blue">
                                                <div class="chart-circle-value">96%</div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="item-action dropdown">
                                                <a href="javascript:void(0)" data-toggle="dropdown" class="icon">
                                                    <i class="fe fe-more-vertical"></i>
                                                </a>
                                                  <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-tag"></i> Elogiar </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-edit-2"></i> Ocultar </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="avatar d-block" 
                                                 style="background-image: url({{url_for('static', filename='demo/faces/male/32.jpg')}})">
                                                <span class="avatar-status bg-green"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>Douglas Ray</div>
                                            <div class="small text-muted">
                                                Retristrado(a): Jan 15, 2018
                                            </div>
                                        </td>
                                        <td>
                                            <div class="clearfix">
                                                <div class="float-left">
                                                    <strong>6%</strong>
                                                </div>
                                                <div class="float-right">
                                                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                                </div>
                                            </div>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-red" role="progressbar" style="width: 6%" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <i class="payment payment-shopify"></i>
                                        </td>
                                        <td>
                                            <div class="small text-muted">Última visíta</div>
                                            <div>a minute ago</div>
                                        </td>
                                        <td class="text-center">
                                            <div class="mx-auto chart-circle chart-circle-xs" data-value="0.06" data-thickness="3" data-color="blue">
                                                <div class="chart-circle-value">6%</div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="item-action dropdown">
                                                <a href="javascript:void(0)" data-toggle="dropdown" class="icon">
                                                    <i class="fe fe-more-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-tag"></i> Elogiar </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-edit-2"></i> Ocultar </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="avatar d-block" 
                                                 style="background-image: url({{url_for('static', filename='demo/faces/female/12.jpg')}})">
                                                <span class="avatar-status bg-green"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>Teresa Reyes</div>
                                            <div class="small text-muted">
                                                Retristrado(a): Mar 4, 2018
                                            </div>
                                        </td>
                                        <td>
                                            <div class="clearfix">
                                                <div class="float-left">
                                                    <strong>36%</strong>
                                                </div>
                                                <div class="float-right">
                                                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                                </div>
                                            </div>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-red" role="progressbar" style="width: 36%" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <i class="payment payment-ebay"></i>
                                        </td>
                                        <td>
                                            <div class="small text-muted">Última visíta</div>
                                            <div>2 minutes ago</div>
                                        </td>
                                        <td class="text-center">
                                            <div class="mx-auto chart-circle chart-circle-xs" data-value="0.36" data-thickness="3" data-color="blue">
                                                <div class="chart-circle-value">36%</div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="item-action dropdown">
                                                <a href="javascript:void(0)" data-toggle="dropdown" class="icon">
                                                    <i class="fe fe-more-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-tag"></i> Elogiar </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-edit-2"></i> Ocultar </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="avatar d-block" 
                                                 style="background-image: url({{url_for('static', filename='demo/faces/female/4.jpg')}})">
                                                <span class="avatar-status bg-green"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>Emma Wade</div>
                                            <div class="small text-muted">
                                                Retristrado(a): Mar 20, 2018
                                            </div>
                                        </td>
                                        <td>
                                            <div class="clearfix">
                                                <div class="float-left">
                                                    <strong>7%</strong>
                                                </div>
                                                <div class="float-right">
                                                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                                </div>
                                            </div>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-red" role="progressbar" style="width: 7%" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <i class="payment payment-paypal"></i>
                                        </td>
                                        <td>
                                            <div class="small text-muted">Última visíta</div>
                                            <div>a minute ago</div>
                                        </td>
                                        <td class="text-center">
                                            <div class="mx-auto chart-circle chart-circle-xs" data-value="0.07" data-thickness="3" data-color="blue">
                                                <div class="chart-circle-value">7%</div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="item-action dropdown">
                                                <a href="javascript:void(0)" data-toggle="dropdown" class="icon">
                                                    <i class="fe fe-more-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-tag"></i> Elogiar </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-edit-2"></i> Ocultar </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="avatar d-block" 
                                                 style="background-image: url({{url_for('static', filename='demo/faces/female/27.jpg')}})">
                                                <span class="avatar-status bg-green"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>Carol Henderson</div>
                                            <div class="small text-muted">
                                                Retristrado(a): Feb 22, 2018
                                            </div>
                                        </td>
                                        <td>
                                            <div class="clearfix">
                                                <div class="float-left">
                                                    <strong>80%</strong>
                                                </div>
                                                <div class="float-right">
                                                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                                </div>
                                            </div>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-green" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <i class="payment payment-visa"></i>
                                        </td>
                                        <td>
                                            <div class="small text-muted">Última visíta</div>
                                            <div>9 minutes ago</div>
                                        </td>
                                        <td class="text-center">
                                            <div class="mx-auto chart-circle chart-circle-xs" data-value="0.8" data-thickness="3" data-color="blue">
                                                <div class="chart-circle-value">80%</div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="item-action dropdown">
                                                <a href="javascript:void(0)" data-toggle="dropdown" class="icon">
                                                    <i class="fe fe-more-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-tag"></i> Elogiar </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-edit-2"></i> Ocultar </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="avatar d-block" 
                                                 style="background-image: url({{url_for('static', filename='demo/faces/male/20.jpg')}})">
                                                <span class="avatar-status bg-green"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>Christopher Harvey</div>
                                            <div class="small text-muted">
                                                Retristrado(a): Jan 22, 2018
                                            </div>
                                        </td>
                                        <td>
                                            <div class="clearfix">
                                                <div class="float-left">
                                                    <strong>83%</strong>
                                                </div>
                                                <div class="float-right">
                                                    <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                                </div>
                                            </div>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-green" role="progressbar" style="width: 83%" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <i class="payment payment-googlewallet"></i>
                                        </td>
                                        <td>
                                            <div class="small text-muted">Última visíta</div>
                                            <div>8 minutes ago</div>
                                        </td>
                                        <td class="text-center">
                                            <div class="mx-auto chart-circle chart-circle-xs" data-value="0.83" data-thickness="3" data-color="blue">
                                                <div class="chart-circle-value">83%</div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="item-action dropdown">
                                                <a href="javascript:void(0)" data-toggle="dropdown" class="icon">
                                                    <i class="fe fe-more-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-tag"></i> Elogiar </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-edit-2"></i> Ocultar </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">Solicitações</h2>
                        </div>
                        <table class="table card-table">
                            <tr>
                                <td>Cortar grama do Edf. Garden II</td>
                                <td class="text-right">
                                    <span class="badge badge-default">65%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Consertar piso quebrado no 2º andar</td>
                                <td class="text-right">
                                    <span class="badge badge-success">Concluído</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Mudança no dia 23/01/2018 às 19:00</td>
                                <td class="text-right">
                                    <span class="badge badge-danger">Rejeitada</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Personal Blog</td>
                                <td class="text-right">
                                    <span class="badge badge-default">40%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Providênciar churrascaria para o dia 17/03/2018</td>
                                <td class="text-right">
                                    <span class="badge badge-default">77%</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Faturamento</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="w-1">Nº</th>
                                        <th>Título</th>
                                        <th>Inquilino</th>
                                        <th>VAT No.</th>
                                        <th>Criada</th>
                                        <th>Status</th>
                                        <th>Preço</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="text-muted">001401</span>
                                        </td>
                                        <td>
                                            <a href="invoice.html" class="text-inherit">Design Works</a>
                                        </td>
                                        <td>
                                            Carlson Limited
                                        </td>
                                        <td>
                                            87956621
                                        </td>
                                        <td>
                                            15 Dec 2017
                                        </td>
                                        <td>
                                            <span class="status-icon bg-success"></span> Paid
                                        </td>
                                        <td>$887</td>
                                        <td class="text-right">
                                            <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Gerenciar</a>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Ações</button>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="icon" href="javascript:void(0)">
                                                <i class="fe fe-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-muted">001402</span>
                                        </td>
                                        <td>
                                            <a href="invoice.html" class="text-inherit">UX Wireframes</a>
                                        </td>
                                        <td>
                                            Adobe
                                        </td>
                                        <td>
                                            87956421
                                        </td>
                                        <td>
                                            12 Apr 2017
                                        </td>
                                        <td>
                                            <span class="status-icon bg-warning"></span> Pending
                                        </td>
                                        <td>$1200</td>
                                        <td class="text-right">
                                            <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Gerenciar</a>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Ações</button>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="icon" href="javascript:void(0)">
                                                <i class="fe fe-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-muted">001403</span>
                                        </td>
                                        <td>
                                            <a href="invoice.html" class="text-inherit">New Dashboard</a>
                                        </td>
                                        <td>
                                            Bluewolf
                                        </td>
                                        <td>
                                            87952621
                                        </td>
                                        <td>
                                            23 Oct 2017
                                        </td>
                                        <td>
                                            <span class="status-icon bg-warning"></span> Pending
                                        </td>
                                        <td>$534</td>
                                        <td class="text-right">
                                            <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Gerenciar</a>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Ações</button>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="icon" href="javascript:void(0)">
                                                <i class="fe fe-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-muted">001404</span>
                                        </td>
                                        <td>
                                            <a href="invoice.html" class="text-inherit">Landing Page</a>
                                        </td>
                                        <td>
                                            Salesforce
                                        </td>
                                        <td>
                                            87953421
                                        </td>
                                        <td>
                                            2 Sep 2017
                                        </td>
                                        <td>
                                            <span class="status-icon bg-secondary"></span> Due in 2 Weeks
                                        </td>
                                        <td>$1500</td>
                                        <td class="text-right">
                                            <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Gerenciar</a>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Ações</button>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="icon" href="javascript:void(0)">
                                                <i class="fe fe-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-muted">001405</span>
                                        </td>
                                        <td>
                                            <a href="invoice.html" class="text-inherit">Marketing Templates</a>
                                        </td>
                                        <td>
                                            Printic
                                        </td>
                                        <td>
                                            87956621
                                        </td>
                                        <td>
                                            29 Jan 2018
                                        </td>
                                        <td>
                                            <span class="status-icon bg-danger"></span> Paid Today
                                        </td>
                                        <td>$648</td>
                                        <td class="text-right">
                                            <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Gerenciar</a>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Ações</button>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="icon" href="javascript:void(0)">
                                                <i class="fe fe-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-muted">001406</span>
                                        </td>
                                        <td>
                                            <a href="invoice.html" class="text-inherit">Sales Presentation</a>
                                        </td>
                                        <td>
                                            Tabdaq
                                        </td>
                                        <td>
                                            87956621
                                        </td>
                                        <td>
                                            4 Feb 2018
                                        </td>
                                        <td>
                                            <span class="status-icon bg-secondary"></span> Due in 3 Weeks
                                        </td>
                                        <td>$300</td>
                                        <td class="text-right">
                                            <a href="javascript:void(0)" class="btn btn-secondary btn-sm">Gerenciar</a>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Ações</button>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="icon" href="javascript:void(0)">
                                                <i class="fe fe-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}